*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/keys
**/node_modules
**/dist
**/.env
/app/src/main/assets/api_key.txt
/.idea
/codemr
/app/release
/app/src/main/assets/api_key_backup.txt
/API/*.pem
