language: android
sudo: true

jdk:
   - oraclejdk8

install:
  - echo yes | sdkmanager "tools" &>/dev/null
  - echo yes | sdkmanager "platform-tools" &>/dev/null
  - echo yes | sdkmanager "build-tools;26.0.2" &>/dev/null
  - echo yes | sdkmanager "platforms;android-26" &>/dev/null

script:
  - ./gradlew clean testDebug lintDebug jacocoDebugReport coveralls -Dscan --stacktrace


